<h1>heirbnb</h1>

<% if current_user.reservations.any? %>
  <h4>Your reservations: </h4>
  <% current_user.reservations.each do |reservation| %>
    <h5><br>
      Price: $<%= reservation.price %><br>
    <%= reservation.date %></h5>
    <% end %>
  <% else %>
  <h4>You don't have any reservations</h4>
  <% end %>

<div class="room">
  <% if @rooms %>
    <% @rooms.all.each do |room| %>
      <h3>Location: <%= room.location %></h3>
      <ul>
      <h5>Amenities: <%= room.amenities %><br>Size: <%= room.size %></h5>
      <button class="button btn-xs btn-primary"><%= link_to "Stay here", new_rooms_reservations_path(room) %></button>
      </ul>
      <% end %>
    <% end %>
</div>
