<div class="column">
  <% if current_user %>
    <% if current_user.reservations.any? %>
      <h4>Your reservations: </h4>
        <% current_user.reservations.each do |reservation| %>
          <h5>Price: $<%= reservation.price %><br>
            <%= reservation.date %></h5>
          <% end %>
          <% else %>
          <h4>You have no reservations</h4>
        <% end %>
    <% else %>
  <h4>You are not logged in</h4>
  <% end %>

  <% if current_user %>
    <% if current_user.rooms.any? %>
    <h3><%= current_user.email %>'s rooms</h3>
          <h4>Locations: </h4>
            <ul>
            <% current_user.rooms.each do |room| %>
              <li>
                <%= room.location %>
              </li>
            <% end %>
          <% else %>
          <h5>You have no rooms</h5>
        </ul>
      <% end %>
  <% end %>

</div>

<div class="main">
  <h1>Errorbnb</h1>

  <div class="room">
    <% if @rooms %>
      <% @rooms.all.each do |room| %>
        <h3><%= room.location %></h3>
        <ul>
        <h5>Amenities: <%= room.amenities %><br>Size: <%= room.size %></h5>
        <h5>Posted by: <%= room.user.email %></h5>
        <%= form_tag(new_reservations_path) do |f| %>
        <input type="hidden" value="<%= room.id() %>" name="room_id">
        <button class="button btn-xs btn-primary">Add room</button>
        <% end %>
        </ul>
        <% end %>
      <% end %>
  </div>
</div>

<div class="column">
  <% if current_user %>
    <h3>Add a room</h4>
    <%= form_for Room.new do |f| %>
      <%= f.label :size %>
      <%= f.text_field :size %><br>
      <%= f.label :amenities %>
      <%= f.text_field :amenities %><br>
      <%= f.label :location %>
      <%= f.text_field :location %><br>
      <input type="hidden" value="<%= current_user.id() %>" name="user_id">
      <button class="button btn-xs btn-primary">Add room</button>
    <% end %>
  <% end %>
</div>
